# Editable Git install with no remote (chenLiu==0.0.1)
-e ./thesis/chenLiu
fastapi==0.109.0
motor==3.3.2
numpy==1.26.3
pandas==2.2.0
pydantic==2.5.3
statsmodels==0.14.0
uvicorn==0.25.0
pydantic==2.5.3
pydantic_core==2.14.6
python-multipart==0.0.6
