annotated-types==0.6.0
anyio==4.3.0
build==1.2.1
-e git+https://github.com/piooz/chenliu.git@2365ced1cf99d7830d40aeecbe45dcd2d8cf04bf#egg=chenLiu
click==8.1.7
contourpy==1.2.1
cycler==0.12.1
dnspython==2.6.1
fastapi==0.109.0
fonttools==4.51.0
h11==0.14.0
idna==3.7
iniconfig==2.0.0
kiwisolver==1.4.5
matplotlib==3.8.4
motor==3.3.2
numpy==1.26.3
packaging==24.0
pandas==2.2.0
patsy==0.5.6
pillow==10.3.0
pluggy==1.4.0
pydantic==2.5.3
pydantic_core==2.14.6
pymongo==4.6.3
pyparsing==3.1.2
pyproject_hooks==1.0.0
pytest==8.1.1
python-dateutil==2.9.0.post0
python-multipart==0.0.6
pytz==2024.1
scipy==1.13.0
six==1.16.0
sniffio==1.3.1
starlette==0.35.1
statsmodels==0.14.0
typing_extensions==4.11.0
tzdata==2024.1
uvicorn==0.25.0
